{% extends 'farm_management_app/base.html' %}

{% block content %}

{% load static %}

<div class="row justify-content-center mb-3">
    <div class="col-7">

    <h1 class="text-center">Permatopia</h1>

    <img src="{% static 'farm_management_app/images/permatopia_1.jpeg' %}" style="width:100%">
    </div>
      
</div>

<!-- <div class="row justify-content-center">
    <div class="col-2">
        <button class="btn-custom"><a href="#">Locations</a></button>
    </div>
    <div class="col-2">
        <button class="btn-custom"><a href="#">Crop Plans</a></button>
    </div>
    <div class="col-2">
        <button class="btn-custom"><a href="#">Tasks</a></button>
    </div>
  </div> -->

{% endblock %}
