<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-3">
    <a class="navbar-brand" href="{% url 'index' %}">simple farm tracking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active align-items-center">
          <a class="nav-link align-middle" href="{% url 'locations' %}"><span class="sr-only"></span>Locations</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'cropplans' %}">Crop Plans</a></li>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cp_test' %}">Crop Plans</a></li>
        </li>
        <li class="nav-item nav-link"> 
          <form action="{% url 'tasks' %}" method="GET">
            
            <button type="submit" class="btn-custom-nav " name="completed" value="False">Tasks</button>
          </form>
        </li>
        <li>
          {{curr_year | date}}
        </li>
      </ul>
    </div>
</nav>


